.selectionBox {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.selectionBox img {
    transition: 1s ease;
    max-height: 90%;
    max-width: 90%;
}

.selectionBox img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

h1 {
      display: inline-block;
}