/* analytic page links */
.outletsContainer{
    display: flex;
    flex-wrap: wrap;
}

.selectionBox {
    text-align: center;
}

.selectionBox img {
    transition: 1s ease;
    height: 50px;
    width: 50px;
}

.selectionBox p{
    font-size: 110%;
    font-weight: bold;
}

.selectionBox img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.clickable-button {
    cursor: pointer;
    background-color: rgb(255,255,255);
}

h1 {
      display: inline-block;
}

body {
    padding-top:75px;
}

/* flashing links */
.linkHover a:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
    opacity: .4;
    }
    100% {
    opacity: 1;
    }
}

@keyframes flash {
    0% {
    opacity: .4;
    }
    100% {
    opacity: 1;
    }
}
